.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #fff;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}

.leftPanel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(230, 225, 214, 0.5);
  padding: 4rem 2rem;
  font-family: Arial, sans-serif;
}

@media (max-width: 1024px) {
  .leftPanel {
    min-height: 300px;
    padding: 3rem 2rem;
  }
}

@media (max-width: 640px) {
  .leftPanel {
    min-height: 200px;
    padding: 2rem 1rem;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 370px;
  z-index: 1;
  display: block;
}

@media (max-width: 991px) {
  .logo {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (max-width: 640px) {
  .logo {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.rightPanel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(230, 225, 214, 0.09);
  padding: 4rem 2rem;
  position: relative;
  z-index: 2;
}

@media (max-width: 1024px) {
  .rightPanel {
    padding: 3rem 2rem;
  }
}

@media (max-width: 640px) {
  .rightPanel {
    padding: 2rem 1rem;
  }
}
