.frameDesktoop {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 64px 93px;
  box-sizing: border-box;
  isolation: isolate;
  gap: 1px;
  text-align: left;
  font-size: 20.08px;
  color: var(--color-dimgray-100);
  font-family: var(--font-arial);
}

.frameDesktoopChild {
  height: 772px;
  width: 624px;
  position: relative;
  background-color: var(--color-linen-100);
  opacity: 0.5;
  z-index: 0;
}

.frameIzquierdoIcon {
  height: 124px;
  width: 372px;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 62px);
  left: calc(50% - 498px);
  z-index: 1;
}

.frameDesktoopItem {
  height: 772px;
  width: 624px;
  position: relative;
  background-color: var(--color-linen-200);
  z-index: 2;
}

.frameDerecho {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 280.25px);
  left: calc(50% + 109px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 3;
}

.authCard {
  width: 406px;
  height: 560.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.signUp {
  position: absolute;
  top: 0px;
  left: 31px;
  font-size: 19.69px;
  font-family: var(--font-pp-neue-montreal);
  font-weight: 375;
}

.authCardChild {
  position: absolute;
  top: 201px;
  left: 30px;
  border-top: 2px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 346px;
  height: var(--height-2);
  opacity: 0.5;
}

.authCardItem {
  position: absolute;
  top: 132px;
  left: 30px;
  border-top: 2px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 346px;
  height: var(--height-2);
  opacity: 0.5;
}

.buttonParent {
  position: absolute;
  top: 266px;
  right: 95px;
  width: 216px;
  height: var(--height-64);
  color: var(--color-dimgray-300);
  font-family: var(--font-pp-neue-montreal);
  font-weight: 375;
  font-size: 20px;
}

.button {
  position: absolute;
  top: 0px;
  right: 0px;
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-32);
  background-color: var(--color-whitesmoke);
  width: 216px;
  height: var(--height-64);
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.continue {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  left: calc(50% - 39px);
  display: inline-block;
  width: 78px;
}

.buttonGroup {
  position: absolute;
  top: 435px;
  right: 87px;
  width: 216px;
  height: var(--height-64);
  color: var(--color-dimgray-300);
  font-family: var(--font-pp-neue-montreal);
  font-weight: 375;
  font-size: 20px;
}

.google {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  left: calc(50% - 7px);
  display: inline-block;
  width: 63px;
}

.groupIcon {
  position: absolute;
  height: 6.24%;
  width: 8.45%;
  top: 80.11%;
  right: 53.37%;
  bottom: 13.65%;
  left: 38.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.8;
}

.password {
  position: absolute;
  top: 181px;
  left: 31px;
  font-size: 16.27px;
  color: var(--color-dimgray-100);
  font-family: var(--font-arial);
}

.yourEmail {
  position: absolute;
  top: 112px;
  left: 32px;
  font-size: 16.27px;
  color: var(--color-dimgray-100);
  font-family: var(--font-arial);
}

.orSignUp {
  position: absolute;
  top: 374px;
  left: 96px;
  font-size: 16.02px;
  color: var(--color-dimgray-200);
  font-family: var(--font-arial);
}

.byContinuingYou {
  position: absolute;
  top: 542px;
  left: 0px;
  font-size: 16.02px;
  color: var(--color-dimgray-200);
  font-family: var(--font-arial);
  width: 100%;
}
